body{
    font-family:sans-serif;
    width:100vw;
    height:95vh;
    overflow:hidden;
    text-align: center;
    align-content: center;
    justify-items: center;
}
#word-area{
    width:40vw;
    height:8vh;
    padding:80px 0 20px 0;
    background-color:white;
    border:4px solid black;
    border-radius:10px;
    margin-bottom:16px;
    overflow:hidden;
    color:black;
    font-size:20px;
}
#word-area div:nth-of-type(1){color:black;font-weight:700;}
#word-area div:nth-of-type(1) span{color:green;font-weight:700;}
#word-area div:nth-of-type(1):before{content:"— "}
#word-area div:nth-of-type(1):after{content:" —"}
#word-area div:nth-of-type(2){opacity: 0.75;}
#word-area div:nth-of-type(3){opacity: 0.5;}
#word-area div:nth-of-type(4){opacity: 0.25;}
#word-area div:nth-of-type(5){opacity: 0.1;}
#type-area{
    border:2px solid black;
    padding:4px;
    font-size:18px;
    border-radius:10px;
    text-align:center;
}
#play-info{
    width:40vw;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 16px;
    font-weight: 700;
}
#play-info>div>div{font-size:30px;}

@media only screen and (max-width:768px){
    #play-info, #word-area{
        width:80vw;
    }
}
